<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>JobsCalc</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/index.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="scripts/profiles.js" defer type="module"></script>
  </head>
  <body id="page-index">
    <header class="page-header">
      <%- include('parts/page-header', {title: 'Profiles'}) %>
      <div class="container">
        <section id="summary" class="animate-up delay-1">
          <h2 class="sr-only">Sumário</h2>

          <a class="button orange" href="/profile">
            <span>
              <img src="/images/plus-24.svg" alt="Novo Profile" />
            </span>
            Adicionar novo profile
          </a>
        </section>
      </div>
    </header>

    <div class="container">
      <main class="animate-up delay-2">
        <h1 class="sr-only">Profiles</h1>

        <div class="cards">

          <%  profiles.forEach((profile) => { %>
            <div class="card"  data-id="<%= profile.id %>">
              <div class="id column"><%= profile.id %></div>
              <div class="name column">
                <%= profile.name %>
              </div>
              <div class="amount column">
                <span>Valor/Hora</span>
                <p>R$ <%= profile["value-hour"].toFixed(2).replace('.',',') %></p>
              </div>
              <div class="actions column flex">
                <p class="sr-only">Ações</p>
                <a 
                  href="/profile-edit/<%= profile.id %> " 
                  class="button white edit" 
                  title="Editar Profile">
                  <img src="/images/edit-24.svg" alt="Editar Profile" />
                </a>
                <% if(profile.selected !== 1) {%> 
                  <button class="delete button white" title="Excluir Profile">
                    <img src="/images/trash-24.svg" alt="Excluir Profile" />
                  </button>
                  <button class="select button white" title="Selecionar Profile">
                    <img src="/images/play.svg" alt="Selecionar Profile" />
                  </button>
                <% } %> 
              </div>
            </div>
          <%  }) %>
          <!-- end card -->

          </div>
        </div>
        <!-- end cards -->
      </main>
    </div>
    <!-- end container -->

    <div class="modal-wrapper">
      <div class="modal">
        <img src="/images/trash-48.svg" alt="Excluir Job" title="Excluir Job" />
        <h3>Excluir Profile</h3>
        <p>Quer mesmo excluir esse profile? <br/>
        Ele será apagado para sempre.
        <p>
        <footer>
          <a
            class="button gray"
            href="#">Cancelar</a>
          <button
            class="button red"
            type="submit"
            form="delete-profile">Excluir Profile</button>
        </footer>
      </div>
      <form
        method="post"
        action="/profile/delete"
        id="delete-profile"></form>
    </div>
    <form
        method="post"
        action="/profile/select"
        id="select-profile">
    <!-- end modal-wrapper -->
  </body>
</html>
